html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  font-size: 1.3rem;
  line-height: 1.6;
  position: relative;
  font-family: "Yu Gothic", sans-serif;
  font-weight: 500;
}

img {
  vertical-align: bottom;
  object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1050px) {
  body {
    font-size: 1.6rem;
  }
}